#score { text-align: center; }

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("https://thumbs.dreamstime.com/b/landscape-game-background-game-black-white-background-seamless-cartoon-landscape-89891545.jpg"); // you can use any backround you like, a local file or as me a linked adress.
  background-size: cover;
}

#dino {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("https://cdn140.picsart.com/319033380165211.png?type=webp&to=min&r=640");
  background-size: cover;
}

#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;  // so the rock goes from right to left. 
  background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/da268f06e621b21.png");
  background-size: cover;
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0%{left: 550px;}
  100%{left: -50px;}
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0%{top: 225px;}
  50%{top: 75px;}
  75%{top: 75px;}
  100%{top: 225px;}
}
